<div class="background" style="background-image: url('<%= asset_path('bad.png') %>'); ">
  <div class="content text-all">
    <h1>また明日、会えるかな</h1>
    <div class="button-group">
      <%= link_to "明日も待ってみる", scene1_path, class: 'btn btn-primary btn-lg btn-custom-margin' %>
    </div>
  </div>
</div>
