<div class="background" style="background-image: url('<%= asset_path('bad.jpg') %>'); ">
  <div class="content 一緒に帰れた！">
    <h1>また明日、会えるかな</h1>
    <%= link_to "明日も待ってみる", scene1_path, class: 'btn btn-primary' %>
  </div>
</div>