<div class="background" style="background-image: url('<%= asset_path('good.png') %>'); ">
  <!-- 自動的に together_ending ビューに遷移する JavaScript コード -->
  <script>
    setTimeout(function() {
      window.location.href = "<%= together_ending_path %>";
    }, 3000); // 3秒後に together_ending ビューに遷移
  </script>
</div>
