<div class="background" style="background-image: url('<%= image_tag(asset_path('good.png')) %>'); ">
  <script>
    setTimeout(function() {
      window.location.href = "<%= together_ending_path %>";
    }, 3000);
  </script>
</div>
