<div class="background" style="background-image: url('<%= asset_path('scene.png') %>'); ">
  <%= link_to "もうちょっと待つ", scene4_2_path, class: 'btn btn-primary text-all btn-lg btn-custom-margin' %>
  <%= link_to "帰る", bad_ending_path, class: 'btn btn-primary text-all btn-lg btn-custom-margin' %>
</div>