<div class="background" style="background-image: url('<%= image_tag(asset_path('scene.png')) %>'); ">
  <%= link_to "もうちょっと待つ", scene1_2_path, class: 'btn btn-primary text-all', style: 'margin-right: 10px;' %>
  <%= link_to "帰る", bad_ending_path, class: 'btn btn-primary text-all' %>
</div>