<div class="background" style="background-image: url('<%= asset_path('together.png') %>'); ">
  <div class="content text-all">
    <h1>勇気を出して、一緒に帰れた！</h1>
    <%= link_to "https://twitter.com/share?url=#{ERB::Util.url_encode(root_url)}&text=#{ERB::Util.url_encode('勇気を出して、一緒に帰れた！')}", target: '_blank', style: 'margin-right: 10px;' do %>
      <i class="fab fa-twitter fa-2xl text-white"></i>
    <% end %>
    <%= link_to "もう一度最初から", scene1_path, class: 'btn btn-primary' %>
  </div>
</div>