.text-white {
  color: white;
}

.text-all {
  font-family: 'Yomogi', cursive;
}

.btn-custom-margin {
  margin-right: 30px; /* 任意のマージンを設定 */
}

.button-group {
  text-align: center;
  margin-top: 15px;
}

.twitter-button {
  margin-right: 20px;
  padding: 0;
  display: inline-block;
  border: none;
  background-color: transparent;
}

.twitter-button:hover {
  text-decoration: none; /* ホバー時のテキスト装飾を削除 */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
